body {
  background-color: #FFF8F0;
}

h1 {
  text-align: center;
}

h1, h3 {
  color: #9DD9D2;
}

button.btn {
  background-color: #000000;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.container {
  text-align: center;
}

.radio {
  display: inline;
}

.order {
  display: none;
}

.coupon-alert {
  display: none;
  font-style: italic;
  color: red;
}
