body {
  background-color: #6F1A07;
  color: #ffffff;
  text-align: center;
}

h1 {
  background-image: url('../img/pizza.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 5rem;
}

h1, h3 {
  color: #000000;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
}

h5, .dismiss {
  display: inline-block;
}

button.btn {
  background-color: #000000;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

button.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.container {
  text-align: center;
}

.radio {
  display: inline;
}

.toppings {
  width: 50%;
  margin: auto;
}

.order {
  display: none;
}

ul.pizza-list {
  padding-left: 0px;
}

ul.pizza-list li {
  display: inline;
  padding: 8px;
}

div.pizza-info{
  display: none;
  width: fit-content;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1.5%;
  border: 3px solid #000000;
  border-radius: 12px;
  padding: 15px;
}

div.pizza-info p {
  margin-bottom: 0px;
}

.selected-pizza, ul.pizza-list li:hover, .dismiss:hover {
  background-color: #000000;
  color: white;
}

.coupon-alert {
  display: none;
  font-style: italic;
  color: red;
}

.coupon-promo {
  display: none;
  position: fixed;
  bottom: 0px;
  text-align: center;
  left: 25%;
  right: 25%;
  background-color: #000000;
}

.dismiss {
  margin: 0px 10px;
  width: 1%;
}

.dismiss:hover {
  cursor: pointer;
}
